.input-icons i {
  position: absolute;
}

.input-icons {
  margin-bottom: 10px;
  align-items: center;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  padding: 5px;
  text-align: center;
}
.list-group {
  display: inline-block;
}
ul {
  text-align: center;
}
